html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-family: 'Noto Sans Mono', monospace;
    font-family: 'Raleway', sans-serif;
    background-color: rgba(0, 0, 0, 0.801);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
nav {
    float: right;
    font-size: small
}

@media (min-width: 1200px){
    .nav {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    }
}
@media (min-width: 1024px){
    .nav {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    }
}

@media (min-width: 768px){
    .nav {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    }
}
@media (min-width: 480px){
    .nav {
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    }
}

@media (min-width: 320px) {
    .nav {
        width: 100%;
        font-size: small;
    }
}

@media (min-width: 280px) {
    .nav {
        width: 100%;
        font-size: small;
    }
}


nav ul li {
    list-style: none;
    margin-left: 40px;
    margin-bottom: 1px;
    padding: 0px 0px 0px 0px;
    float: left;
    position: relative;
}

@media (min-width: 1200px){
    .nav ul li  {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    }
}
@media (min-width: 1024px){
    .nav ul li {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    text-align: center;
    align-items: center;
    }
}

@media (min-width: 768px){
    .nav ul li {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    text-align: center;
    align-items: center;
    }
}
@media (min-width: 480px){
    .nav ul li {
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    text-align: center;
    align-items: center;
    font-size: 0.2em
    }
}

@media (min-width: 320px) {
    .nav ul li {
        width: 100%;
        font-size: small;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 280px) {
    .nav ul li {
        width: 100%;
        font-size: small;
        text-align: center;
        align-items: center;
    }
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: normal;
}

@media (min-width: 1200px){
    .nav ul li a  {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    align-items: center;
    }
}
@media (min-width: 1024px){
    .nav ul li a  {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    text-align: center;
    align-items: center;
    }
}

@media (min-width: 768px){
    .nav ul li a  {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    text-align: center;
    align-items: center;
    }
}
@media (min-width: 480px){
    .nav ul li a  {
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    text-align: center;
    align-items: center;
    font-size: 0.2em
    }
}

@media (min-width: 320px) {
    .nav ul li a  {
        width: 100%;
        font-size: small;
        text-align: center;
        align-items: center;
    }
}

@media (min-width: 280px) {
    .nav ul li a {
        width: 100%;
        font-size: small;
        text-align: center;
        align-items: center;
    }
}

.bg-header {
    background-image: url('../Imágenes/DSC04582_EB.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20em; /*el EM toma mi fontsize y lo sube un nivel en este caso*/
}

@media (min-width: 1200px){
    .bg-header  {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}
@media (min-width: 1024px){
    .bg-header {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 768px){
    .bg-header {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 480px){
    .bg-header {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 320px) {
    .bg-header {
        width: 100%;
        font-size: small;
    }
}

@media (min-width: 280px) {
    .bg-header {
        font-size: small;
    }
}

.bg-navbar {
    background-color: #00434663;
    padding: 2.6em  2em; /*margen interno*/
}

@media (min-width: 1200px){
    .bg-navbar  {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}
@media (min-width: 1024px){
    .bg-navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 768px){
    .bg-navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 480px){
    .bg-navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    }
}

@media (min-width: 320px) {
    .bg-navbar {
        width: 100%;
        font-size: small;
    }
}

@media (min-width: 280px) {
    .bg-navbar {
        font-size: small;
    }
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 1200px){
    .navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: medium;
    }
}

@media (min-width: 1024px){
    .navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    }
}

@media (min-width: 768px){
    .navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 480px){
    .navbar {
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
    }
}

@media (min-width: 320px) {
    .navbar {
        width: 100%;
        font-size: small;
    }
}

@media (min-width: 280px) {
    .navbar {
        width: 100%;
        font-size: large;
    }
}

.navbar-brand {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 2rem;
    text-decoration: none; /*Para sacar el subrayado*/
    font-weight: 500;
    margin-bottom: 1em; 
}

@media (min-width:1200px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:480px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 2em;
        text-align: center;
    }
}

@media (min-width:320px) {
    .navbar-brand {
        flex-direction: row;
        margin-bottom: 2em;
        text-align: center;
    }
}

.navbar-nav {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 1.8em;
    border-radius: 0.3em; /*redondear bordes*/
}

/* BODY */
.article {
    text-align: center;
    position: relative;
    margin: auto;
}

@media (min-width:1200px) {
    .article {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:1024px) {
    .article {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:768px) {
    .article {
        flex-direction: row;
        margin-bottom: 0;
    }
}

@media (min-width:480px) {
    .article {
        flex-direction: row;
        margin-bottom: 2em;
        text-align: center;
    }
}

@media (min-width:320px) {
    .article {
        flex-direction: row;
        width: 100%;
        margin-bottom: 5em;
        text-align: center;
        align-items: center;
    }
}

.card {
    background-color: #004346;
    overflow: auto;
    color: white;
    margin: 0;
    padding: 7em;
    block-size:50%;
    width: 100%;
    height: 20em;
    text-align: center;
}

@media (min-width: 1200px) {
.card {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;
    width: 100%;

    }
}

@media (min-width: 1024px) {
.card {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;
    width: 100%;
    }
}

@media (max-width: 768px) {
.card {
        font-size: 1rem;
        font-weight: 100;
        width: 100%;
    }
}

@media (min-width: 480px) {
.card {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;

    }
}

@media (min-width: 320px) {
.card {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;

    }
}

.card-body {
    padding: 0em;
}


body {
    margin: auto;
   background-color: #00000054
   margin: auto;
}

#columna1_contacto {
    text-align: center;
    margin: 1em;
}

#galeria {
    text-align: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
}

.p_contacto {
    color: white;
    text-align: center;
    align-items: center;
}

.formulario_contacto {
    color: white;
    text-align: center;
    align-items: center;
}


/* TARJETAS */
@media (min-width: 768px) {
.tienda {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;
    }
}

.main-title {
    color: white;
    text-align: center;

}

.card-1 {
    background-color: #FFFFFF ;
    overflow: auto;
    color: #000000;
    margin: 0;
    padding-left: 50em;
    block-size: 50%;
    width: 50%;
    height: 20em;
    text-align: center;
    align-items: center;
}


@media (min-width: 1200px) {
.card-1 {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;

    }
}

@media (min-width: 1024px) {
.card-1 {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    margin-top: 1em;

    }
}

@media (max-width: 768px) {
.card-1 {
        font-size: 1rem;
        font-weight: 100;
        width: 100%;
        text-align: center;
    }
}

@media (min-width: 480px) {
.card-1 {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    padding-left: 9em;
    width: 100%;
    align-items: center;
    text-align: center;
    }
}

@media (min-width: 320px) {
.card-1 {
    display: flex;
    gap: 0.1em; /*SEPARACIÓN COLUMNAS*/
    padding-left: 7em;
    width: 100%;
    align-items: center;
    text-align: center;
    }
}

.card_nos {
    background-color: #004346;
    overflow: hidden;
    color: white;
    margin: 0;
    margin-bottom: 1em;
    padding: 3em;
    block-size: 50%;
    text-align: center;
    height: 38em;
    width: 100%;
}

.card_nos p {
    margin: 3em;
}


/* NOSOTROS */
/* 
@media (min-width: 1200px) {
    .nosotros-col-img {
        width: 100%;
    }
}

@media (min-width: 1024px) {
    .nosotros-col-img {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .nosotros-col-img {
        width: 500px;
        height: 500px;
    }
}

@media (min-width: 576px) {
    .nosotros-col-img {
        width: 1000px;
        height: 1000px;
    }
}


.nosotros-col-text {
    order: 1;
}

.nosotros-body {
    padding: 1em;
    text-align: center;
    color: white;

}

.nosotros-body h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 0em;
}

.nosotros-body p {
    font-weight: 200;
} */

/* FOOTER */

.bg-footer {
    background-color: #000000 /* #0e1815c7 */;
    color: #FFFFFF;
/*     font-weight: bold; Para colocar negritas */ 
    position: relative;
    text-decoration: none;
}

.bg-footer p {
    margin: 0;
    padding: 2em 2em 2em;
    text-align: center;
}


/* TABLAS */
table {
    margin-top: 50px;
    border-color: white;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th {
    background-color: #fca311;
    color:black;
}

caption {
    padding-top: 20px;
    font-size: italic;
}

td, th {
    border: 2px solid white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* GRID */

.grid-container {
  display: grid;
  grid-auto-rows: minmax(125px, auto);
  grid-gap: .5rem;
  display: flex;
}


.grid-item1 {
    background: #000000;
    text-align: center;
    color: white;
    position: relative;
    width: 100%;
    height: 450px;
}

.instagram_fotos {
    text-align: center;
    align-items: center;
    margin-bottom: 1em;
    color: #FFFFFF;
}

.grilla_foto {
    width: 400px;
    height: 400px;
    margin-top: 1.5em;
}

